---
---

            <dialog id="modal">
                <button id="modal__close" >X</button>
                <header class="modal__header">
                    <h1 class="modal__title">Confirmacion Final</h1>
                </header>
                <main class="modal__main">
                    <p class="modal__main__ask">¿Todos los datos son correctos?</p>
                </main>
                <footer class="modal__buttons">
                    <button id="modal__confirm">Si, estoy seguro</button>
                    <button id="modal__cancel">No, volvere a revisar</button>
                </footer>
            </dialog>
<style>
    :root{
        --color-background : oklch(0.48 0.0932 243.11);
        --color-text: oklch(0.23 0.0538 256.87);
    }
    *,*::before, *::after{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .modal__main__ask{
        font-size: 1.7em;
    }
    #modal[open]{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 2em;
        background-color: var(--color-background);
        color : var(--color-text);
        border: solid 2px;
        border-radius: 9px;
        position: relative;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        animation: slideDown 1.3s ease-out;
        min-width: 40%;
        min-height: 400px;
        margin: 0 auto;
    }
    #modal__close{
        position: absolute;
        top: 10px;
        right: 10px;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        width: 1.7em;
        height: 1.7em;
        background-color: white;
    }
    #modal__close:hover{
        background-color: red;
    }
    .modal__header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 4em;
    }
    .modal__buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3em;
    }
    .modal__buttons > button{
        text-align: center;
        min-width: 160px;
        min-height: 30px;
        border: none;
        font-size: 16px;
    }
    #modal__confirm:hover{
        background-color: green;
    }
    #modal__cancel:hover{
        background-color: orange;
    }
    .modal::backdrop {
        background: rgba(0, 0, 0, 0.5);
    }

    /* Animación de entrada desde arriba */
    @keyframes slideDown {
        from {
            transform: translateY(-900px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    @media screen and ( max-width: 1023px ){
        .modal__buttons{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
        }
    }

</style>